body {
  text-align: center;
  padding: 1rem;
}

.counter {
  padding: 1rem;
}

.btnStyle {
  background: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: large;
}